asgiref==3.7.2
beautifulsoup4==4.12.2
Brotli==1.1.0
dj-database-url==2.1.0
Django==4.2.9
django-bootstrap-v5==1.0.11
django-crispy-forms==2.1
django-environ==0.11.2
gunicorn==21.2.0
packaging==23.2
psycopg2-binary==2.9.9
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
whitenoise==6.6.0
