{% extends "main/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<head>
    <p class="">During the course Python, from CODERHOUSE (2022), I developed a Parking Manager manager.</p>
    <p class="">GitHub link: </p>
    <a href="https://github.com/simonvaru/MVT-Simon-Vargas-Russo.git">https://github.com/simonvaru/MVT-Simon-Vargas-Russo.git</a>
    <p class="">Youtube video showing actual working: </p>
    <a href="https://youtu.be/5alnPGMlUIo?si=Sq0_AMzFPTKcodwg"><iframe width="560" height="315" src="https://www.youtube.com/embed/5alnPGMlUIo?si=gxxk2Jnf5PGEr99g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></a>
</head>
<body>
    <script>
        function reproducirVideo(){
            //get the screen 
            var widthScreen=window.innerWidth;
            var heightScreen=window.innerHeight;
            //calculate 1/5 screen widthScreen
            var widthM=widthScreen/5;
            var heightM=heightScreen/5;
            //open  a modal or pop up window with the video player
            // and set width and height
        }
    </script>
    <iframe width=widthM height=heightM src="<iframe width="560" height="315" src="https://www.youtube.com/embed/5alnPGMlUIo?si=gxxk2Jnf5PGEr99g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>"></iframe>
</body>
{% endblock %}




