{% extends "main/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% comment %} css styles link {% endcomment %}    
        <link href="{% static "css\demoapp3.css" %}" rel="stylesheet" type="text/css">
        <h1>A simple Calculator. Based on Python, library math and originally Tkinter.</h1>
        <p></p>
        <a target="_blank" href="https://github.com/simonvaru/PROYECTOS_CV/tree/main/Calculadora">https://github.com/simonvaru/PROYECTOS_CV/tree/main/Calculadora</a>
        <p></p>
        <h2>And I'll show and adaptation using JavaScript, with edition functions base on PYSCRIPT.</h2>
        </head>

<body>
    <div1>
        <h3>1</h3>
    </div1>

    <div2>
        <h4>2</h4>
    </div2>
</body>


</html>
{% endblock %}