{% extends "main/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<head>
    <p class="">During the course Python, from CODERHOUSE (2022), I developed a Parking Manager manager.</p>
    <p class="">GitHub link: </p>
    <a href="https://github.com/simonvaru/MVT-Simon-Vargas-Russo.git">https://github.com/simonvaru/MVT-Simon-Vargas-Russo.git</a>
    <p class="">Youtube video showing actual working: </p>
    <a href="https://youtu.be/5alnPGMlUIo?si=Sq0_AMzFPTKcodwg">https://youtu.be/5alnPGMlUIo?si=Sq0_AMzFPTKcodwg</a>
</head>
<body>

</body>
{% endblock %}




