{% extends "main/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% comment %} css styles link {% endcomment %}  
        <link href="{% static "css\home.css" %}" rel="stylesheet" type="text/css"> 
        <h1> Home Page </h1>
        <p>Bienvenido! Soy un programador amateur, mi intencion es construir un sitio funcional donde muestre mis temas de interes y proyectos. este es un sitio en constante mejora, a medidad de que aprenda y practique nuevas habilidades.Sitio desarrollado con Python django, usando Framework, publicado via www.render.com Python, Html, Css, Django Arduino, Raspberry, LoRa radio communications, pyScript, Java Script.</p>
    </head>
    <body>
        {% comment %}  {% endcomment %}
    </body>
</html>
{% endblock %}