{% extends "main/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<head>
    <p class="">Pygbag Classic Snake Game.</p>
    <p class="">Python code GitHub link: </p>
    <a href="">https://github.com/</a>
    <p class="">HTML code GitHub link: </p>
    <a href="">https://github.com/</a>
    <p class="">I'm using Pygbag to convert a Python base develop game, to an accesible Html archive, suitable to be show in a web page without the use of a remote server to run the original Python code.</p>    
</head>
<body>
    <p>Pygbag Classic Snake Game</p>
    <a href="E:/python_proyects/Pygbag_Test_OK/build/web/index.html">Execute Game</a>
    {% comment %} {% extends "E:\python_proyects\snake-game-pygbag_OK\index.html" %} {% endcomment %}
    <button onclick="snake_game">Snake Game</button>
</body>
{% endblock %}